<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <%= @transition.name %>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to 'Back', workflow_path(@workflow), class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <p>
    <%= @workflow.to_graph.output(svg: String).html_safe %>
  </p>

  <%= render "form", workflow: @workflow, transition: @transition %>

  <hr>

  <% if @transition.trigger %>
    <%= render "workflows/transition_triggers/form", workflow: @workflow, transition_trigger: @transition.trigger %>
  <% end %>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>
      callbacks
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div>
    <table class="table table-borderless table-hover">
      <thead>
      <tr>
        <th>Type</th>
        <th>On</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @transition.callbacks.each do |callback| %>
        <tr>
          <td><%= callback.model_name.human %></td>
          <td><%= callback.on %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
