<div class="form-group">
  <%= f.label :assign_to %>
  <div class="form-group">
    <% TransitionTriggers::HumanTask::Configuration::ASSIGN_TO_ENUM.each do |k, v| %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :assign_to, v, class: "form-check-input", id: "assign_to_#{k}" %>
        <%= f.label :assign_to, t("transition_triggers.human_task.assign_to.#{k}"), class: "form-check-label", for: "assign_to_#{k}" %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :assignee_user_id %>
  <%= f.select :assignee_user_id, options_from_collection_for_select(User.all, :id, :name, f.object.assignee_user_id), { class_for_error: "is-invalid", include_blank: true }, class: "form-control" %>
  <%= f.error_message :assignee_user_id, class: "invalid-feedback" %>
</div>
