<%= f.fields_for :configuration, guard.configuration do |ff| %>
  <div class="form-group">
    <%= ff.label :name %>
    <%= ff.text_field :name, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= ff.error_message :name, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= ff.label :script %>
    <%= ff.text_area :script, rows: 10, class: "form-control", class_for_error: "is-invalid" %>
    <%= ff.error_message :script, class: "invalid-feedback" %>
    <span class="form-text text-muted">
      Ruby code here,
      you can use <code>Input[:attached_form_attributes]["FORM_FIELD_KEY"]</code> to get attached form field value,
      use <code>Input[:form_attributes]["FORM_FIELD_KEY"]</code> to get form field value.
      return value should be a bool.
    </span>
  </div>
<% end %>
