<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>
      Leave records
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to 'New', new_leave_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @leaves.each do |leave| %>
      <tr>
        <td><%= leave.user.name %></td>
        <td><%= leave.start_date %></td>
        <td><%= leave.end_date %></td>
        <td><%= leave.stage %></td>
        <td>
          <%= link_to 'Show', leave_path(leave) %>
          <% if leave.workflow_instance_id.blank? %>
            <%= link_to 'Edit', edit_leave_path(leave) %>
            <%= link_to 'Destroy', leave_path(leave), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
