<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>
      Leave record
    </h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <% if @leave.workflow_instance_id.blank? %>
        <%= link_to "Initiate approval", initiate_leave_path(@leave), method: :patch, class: "btn btn-sm btn-primary mr-2" %>
        <%= link_to 'Edit', edit_leave_path(@leave), class: "btn btn-sm btn-primary mr-2" %>
        <%= link_to 'Destroy', leave_path(@leave), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary mr-2" %>
      <% end %>
      <%= link_to "Back", leaves_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div>
    <table class="table table-striped table-borderless">
      <tbody>
      <tr>
        <th scope="row">ID</th>
        <td><%= @leave.id %></td>
      </tr>
      <tr>
        <th scope="row">Start Date</th>
        <td><%= time_tag @leave.start_date %></td>
      </tr>
      <tr>
        <th scope="row">End Date</th>
        <td><%= time_tag @leave.end_date %></td>
      </tr>
      <tr>
        <th scope="row">Reason</th>
        <td><%= @leave.reason %></td>
      </tr>
      <tr>
        <th scope="row">Stage</th>
        <td><%= @leave.stage %></td>
      </tr>
      <tr>
        <th scope="row">Updated at</th>
        <td><%= time_tag @leave.updated_at %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>
      Approvals
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th>Id</th>
      <th>Stage</th>
      <th>Assignee</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @approvals.includes(executable: %i[assignee]).each do |approval| %>
      <% approval = approval.executable %>
      <tr>
        <td><%= approval.id %></td>
        <td><%= approval.transition.name %></td>
        <td><%= approval.assignee&.name %></td>
        <td><%= approval.finished_at.present? ? time_tag(approval.finished_at) : nil %></td>
        <td>
          <%= link_to "Show", leave_approval_path(approval) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <span class="small text-muted">
  Tip: you can go to <%= link_to "Workflows", workflows_path %> to configure assignee.
  </span>
</div>
