<%= f.fields_for :configuration, trigger.configuration do |ff| %>
  <div class="form-group">
    <%= ff.label :assign_to %>
    <div class="form-group">
      <% FlowKit::TransitionTriggers::HumanTask::Configuration::ASSIGN_TO_ENUM.each do |k, v| %>
        <div class="form-check form-check-inline">
          <%= ff.radio_button :assign_to, v, class: "form-check-input", id: "assign_to_#{k}" %>
          <%= ff.label :assign_to, t("transition_triggers.human_task.assign_to.#{k}"), class: "form-check-label", for: "assign_to_#{k}" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :assignee_candidate_user_ids %>
  <%= f.collection_select :assignee_candidate_user_ids, User.all, :id, :name, {}, class_for_error: "is-invalid", ref_method: :assignee_candidates, multiple: true, class: "form-control" %>
  <%= f.error_message :assignee_candidates, ref_method: :assignee_candidates, class: "invalid-feedback" %>
</div>

<div class="form-group">
  <%= f.label :attached_form_id %>
  <%= f.select :attached_form_id, forms_options_for_select(selected: trigger.attached_form_id), { include_blank: true, class_for_error: "is-invalid" }, class: "form-control" %>
  <%= f.error_message :attached_form_id, class: "invalid-feedback" %>
  <span class="form-text text-muted">
    <%= link_to "Create a new form", new_form_path %>
  </span>
</div>

<% workflow ||= nil %>
<% pipeline ||= nil %>
<% form = (workflow || pipeline).form %>
<div class="form-group">
  <%= f.label :form_override_id %>
  <%= f.select :form_override_id, form_overrides_for_select(form, selected: trigger.form_override_id), { include_blank: true, class_for_error: "is-invalid" }, class: "form-control" %>
  <%= f.error_message :form_override_id, class: "invalid-feedback" %>
  <span class="form-text text-muted">
    <%= link_to "Create a new form override", new_form_override_path(form) %>
  </span>
</div>
