<div class="form-group row">
  <%= f.label field.key, field.key, class: 'label col-sm-2 col-form-label' %>
  <div class="col-sm-10">
      <%= f.collection_radio_buttons field.key, field.choices, :id, :label do |m| %>
        <div class="form-check form-check-inline">
          <%= m.radio_button disabled: field.disabled?, class: "form-check-input", class_for_error: "is-invalid" %>
          <%= m.label class: "form-check-label" %>
        </div>
      <% end %>
    <%= f.error_message field.key, class: "invalid-feedback" %>
    <% if field.hint.present? %>
      <p class="help"><%= field.hint %></p>
    <% end %>
  </div>
</div>
