<div class="form-group nested_form_field row">
  <%= f.label field.key, field.key, class: 'col-sm-2 col-form-label' %>

  <div class="col-sm-10">
    <%= tag.div id: field.key, class: "form-group collection" do %>
      <%= f.fields_for field.key do |ff| %>
        <%= render "_form_core/nested_form", f: ff, field: field, form: field.nested_form, nesting: false %>
      <% end %>

      <div class="links">
        <% if field.access_read_and_write? %>
          <%= link_to_add_association "Add", f, field.key,
                                      force_non_association_create: true,
                                      class: "btn btn-link btn-sm",
                                      partial: "_form_core/nested_form",
                                      render_options: {
                                        locals: {field: field, form: field.nested_form, nesting: true}
                                      } %>
        <% end %>
      </div>
    <% end %>
    <% if field.hint.present? %>
      <span class="form-text text-muted">
        <%= field.hint %>
      </span>
    <% end %>
  </div>
</div>

<% if field.access_read_and_write? %>
  <script>
    document.addEventListener("turbolinks:load", function() {
      if($('<%= "##{field.key}" %> > .nested_form').length > 0) {
        $('<%= "##{field.key}" %> .links a.add_fields').hide();
      }

      $('<%= "##{field.key}" %>')
        .on('cocoon:before-insert', function() {
          $('<%= "##{field.key}" %> .links a.add_fields').hide();
        })
        .on("cocoon:before-remove", function() {
          $('<%= "##{field.key}" %> .links a.add_fields').show();
        });
    });
  </script>
<% end %>
