<% url = field.persisted? ? nested_form_field_path(form, field) : nested_form_fields_path(form) %>
<%= form_with(model: field, scope: :field, url: url, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :key %>
    <%= f.text_field :key, required: "required", disabled: field.persisted?, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :key, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :name, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :hint %>
    <%= f.text_field :hint, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :hint, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :accessibility %>
    <div class="form-group mb-0">
      <% FormKit::Field.accessibilities.each do |k, _| %>
        <div class="form-check form-check-inline">
          <%= f.radio_button :accessibility, k, class: "form-check-input", id: "field_accessibility_#{k}" %>
          <%= f.label :accessibility, FormKit::Field.human_enum_value(:accessibility, k), class: "form-check-label", for: "field_accessibility_#{k}" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%= f.select :type, options_for_field_types(form, selected: field.class.to_s), { class_for_error: "is-invalid" }, disabled: field.persisted?, class: "form-control" %>
    <%= f.error_message :type, class: "invalid-feedback" %>
  </div>

  <%= f.submit class: "btn btn-block btn-primary" %>
<% end %>
