<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= nav_link_to({ controller: 'forms/fields', action: :index }, "Fields", form_fields_path(@form), class: "nav-link") %>
    </li>
    <li class="nav-item">
      <%= nav_link_to({ controller: 'forms/overrides', action: :index }, "Overrides", form_overrides_path(@form), class: "nav-link") %>
    </li>
    <% unless @form.attachable_id.present? %>
      <li class="nav-item">
        <%= nav_link_to({controller: 'forms', action: :edit}, "Edit", edit_form_path(@form), class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= nav_link_to({controller: 'forms/previews'}, "Preview", form_preview_path(@form), class: "nav-link") %>
      </li>
    <% end %>
  </ul>

  <div class="btn-toolbar mb-2 mb-md-0">
    <%= yield :actions if content_for?(:actions) %>
  </div>
</div>
